@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*,
*::after,
*::before {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}
body {
  background-color: #d7d7d7;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
.container {
  width: 60%;
  background-color: #ffffff;
  border: 15px solid #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leftpart {
  background-color: #ebebeb;
}
.personPicture {
  height: 250px;
  width: auto;
}
.designation {
  background-color: #ffc905;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 2px;
  font-size: 1em;
  width: 100%;
  margin-left: 20%;
}
.yellowLine {
  background-color: #ffc905;
  height: 2px;
  width: 35px;
}
.picAndEdu {
  background-color: #1a1b1d;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
}
.education {
  color: #ffffff;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 14%;
}
.education p,
.education h4 {
  font-size: 0.5em;
}
.education h3 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.education h4 {
  padding-top: 8px;
}
.expertise {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-left: 14%;
}
.expertise h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photoshop,
.illustrator,
.indesign,
.word,
.powerpoint {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.photoshopYellow {
  background-color: #ffc905;
  margin-top: 4px;
  margin-left: 10px;
  height: 4px;
  width: 85px;
}
.photoshopGray {
  background-color: #5d5d69;
  margin-top: 4px;
  height: 4px;
  width: 15px;
}
.illustratorYellow {
  background-color: #ffc905;
  margin-top: 4px;
  margin-left: 12px;
  height: 4px;
  width: 80px;
}
.illustratorGray {
  background-color: #5d5d69;
  margin-top: 4px;
  height: 4px;
  width: 20px;
}
.indesignYellow {
  background-color: #ffc905;
  margin-top: 4px;
  margin-left: 21px;
  height: 4px;
  width: 85px;
}
.indesignGray {
  background-color: #5d5d69;
  margin-top: 4px;
  height: 4px;
  width: 15px;
}
.wordYellow {
  background-color: #ffc905;
  margin-top: 4px;
  margin-left: 38px;
  height: 4px;
  width: 80px;
}
.wordGray {
  background-color: #5d5d69;
  margin-top: 4px;
  height: 4px;
  width: 20px;
}
.powerpointYellow {
  background-color: #ffc905;
  margin-top: 4px;
  margin-left: 5px;
  height: 4px;
  width: 75px;
}
.powerpointGray {
  background-color: #5d5d69;
  margin-top: 4px;
  height: 4px;
  width: 25px;
}
.contacts {
  display: flex;
  font-size: 0.7em;
  margin: 15px;
  padding: 13px;
  margin-bottom: 0;
  padding-bottom: 0;
}
.contactDetails {
  margin-left: 10px;
}
.contactImageDetails {
  position: relative;
  overflow: hidden;
}
.contactPhoto {
  height: 100%;
  width: 100%;
  position: relative;
  object-fit: cover;
}
.intro {
  background-color: #ebebeb;
}
.intro h1 {
  padding-top: 55px;
  font-size: 2.5em;
  margin-left: 10%;
}
.textData {
  max-width: 80%;
}
.introDesignation {
  margin-bottom: 20px;
  background-color: #ffc905;
  display: inline-block;
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  word-spacing: 2px;
  font-size: 1em;
  margin-left: 10%;
  margin-bottom: 5px;
}
.profile {
  margin-left: 10%;
  margin-bottom: 10px;
}
.profile p {
  font-size: 0.7em;
  padding-bottom: 30px;
  padding-top: 10px;
}
.profile h3 {
  padding-top: 10px;
  margin-bottom: 10px;
}
.workExperience {
  margin-left: 10%;
}
.jobPosition {
  display: flex;
}
.workExperience h3 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.workExperience h5 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.workExperience p {
  font-size: 0.7em;
}
.highlight {
  background-color: #ffc905;
  padding-right: 5px;
  padding-left: 5px;
  margin-right: 5px;
}
.referenceFull {
  margin-left: 10%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.interestsFull h3,
.interestsFull .yellowLine {
  margin-left: 10%;
}
.referenceFull h3,
.interestsFull h3 {
  padding-bottom: 10px;
}
.secondReference {
  padding-left: 20%;
}
.reference,
.interests {
  display: flex;
  font-size: 0.7em;
  padding-top: 10px;
}
.interests {
  margin-left: 8%;
}
.interests p {
  text-align: center;
}
.interests img {
  height: 50px;
  width: 50px;
}
